<!DOCTYPE html>
<html lang="en">
<head>
<title>Squid Log Viewer</title>
<meta charset="utf-8" />
<meta name="description" content="A" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow, archive, noimageindex">
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0" />
<style>
table	{ width: 100%; border-spacing: 2px; border-collapse: collapse; border: 1px solid black; }
p,th,td	{ font-family: arial; text-align: left; font-size: 10px; border: 1px solid black; padding: 4px; }
tr.even-good td { background-color: #aaffcc; }
tr.odd-good td { background-color: #aaf0cc; }
tr.even-warn td { background-color: #f0f0aa; }
tr.odd-warn td { background-color: #f9f9aa; }
tr.even-error td { background-color: #f0aaaa; }
tr.odd-error td { background-color: #f9aaaa; }
</style>
</head>
<body>
<script>

var params = {}
location.search.substr(1).split("&").forEach(function(item) {
  params[item.split("=")[0]] = item.split("=")[1];
});

</script>
<p><span id="num_rows">{{num_entries}}</span> entries match query</p>
<table style="width:100%", border="1">
    <tr>
    {% for k,v in fields.items() %}
        <th>{{v}}</th>
    {% endfor %}
    </tr>
    {% for entry in data.entries %}
        {% if entry.code == 503 %}
            <tr class="even-error">
        {% elif entry.code == "TCP_DENIED/403" %}
            <tr class="even-warn">
        {% elif entry.code == "TCP_MISS/403" %}
            <tr class="even-warn">
        {% elif entry.code == "NONE/400" %}
            <tr class="even-warn">
        {% else %}
            {%if loop.index is divisibleby 2 %}
                 <tr class="even-good">
            {% else %}
                 <tr class="odd-good">
            {% endif %}
        {% endif %}
        <td>{{entry.timestamp}}</td>
        <td>{{entry.elapsed}}</td>
        <td>{{entry.client_ip}}</td>
        <td>{{entry.code}}</td>
        <td>{{entry.bytes}}</td>
        <td>{{entry.method}}</td>
        <td>{{entry.url}}</td>
        <td>{{entry.rfc931}}</td>
        <td>{{entry.how}}</td>
        <td>{{entry.type}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
