<!DOCTYPE html>
<html lang="en">
<head>
<title>Squid Log Viewer</title>
<meta charset="utf-8" />
<meta name="description" content="A" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow, archive, noimageindex">
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0" />
<style>
*{
    box-sizing: border-box;
    margin: 0;
    font-family: arial;
    font-size: 10px;
}
.wrapper{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding:10px;
    background-color: #cccccc;
}
input {
    width: 15%;
}
fieldset {
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
    font-family: arial;
    font-size: 10px;
}
fieldset input {
    width: 100%;
}
</style>
</head>
<body>
  <!-- Begin Form -->
  <form method="get" action="middle.html" target="middle_iframe">
  <fieldset>
    <legend>Location:</legend>
    <select name="location" id="location_list" size=1>
      <option value="" selected>All Locations</option>
      {% for _ in locations %}
        <option value="{{_}}"{% if _ == location %} selected{% endif %}>{{_}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Server:</legend>
    <select name="server" id="server_list" size=1>
      <option value="" selected>All Servers</option>
      {% for _ in servers %}
        <option value="{{_}}"}>{{_}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Client IP Address:</legend>
    <select name="client_ip" id="client_ip_list" size=1>
      <option value="" selected>All Clients</option>
      {% for _ in client_ips %}
        <option value="{{_}}"}>{{_}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Response Code:</legend>
    <select name="status_code" id="status_code_list" size=1>
      <option value="" selected>All Status Codes</option>
      {% for _ in status_codes %}
        <option value="{{_}}">{{_}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Interval:</legend>
    <select name="interval" id="interval_list" size=1>
      {% for k, v in intervals.items() %}
        <option value="{{k}}"{% if interval == k %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <input type='hidden' name="end_time" id="end_time"></select>
  <input type="submit" value="Show Data">
  <input type="reset" value="Reset Options">
  </form>
  <!-- End Form -->
<! script src="static/ajax-functions.js"></script>
<! script src="static/my-functions.js"></script>
<script>

var params = {}
location.search.substr(1).split("&").forEach(function(item) {
  params[item.split("=")[0]] = item.split("=")[1];
});

(async() => {

  let ajax_url = "get_data?"

  // Get current date/time
  const now = Date.now();
  document.getElementById('end_time').value = now;

  /* If Location changes, re-populate cluster list
  const selector = document.getElementById('location_list');
  selector.onchange = (event) => {
    params['location'] = event.target.value;
    MakeAjaxCall(ajax_url + "action=get_clusters&location=" + params['location']).then(clusters => {
      PopulateDropDown('cluster_list', clusters, params['cluster']);
    }).catch(console.log);
  } */

  /* Populate locations drop-down list
  MakeAjaxCall(ajax_url + "action=get_locations").then(locations => {
    PopulateDropDown('location_list', locations, params['location']);
  }).catch(console.log);

    */

  /* Do the same for Clusters
  if (params['location']) {
    MakeAjaxCall(ajax_url + "action=get_clusters&location=" + params['location']).then(clusters => {
      PopulateDropDown('cluster_list', clusters, params['cluster']);
    }).catch(console.log);
  } */

  if (params['location']) {
    ajax_url += "location=" + params['location']
    if (params['cluster'])
      ajax_url += "&cluster=" + params['cluster'];
    if (params['interval'])
      ajax_url += '&interval=' + params['interval']; 
    if (params['url'])
      ajax_url += '&url=' + params['url']; 
  /* Do the same for Client IPs
    console.log(`Populate client ip list with this call; url = ${ajax_url}`);
    MakeAjaxCall(ajax_url).then(data => {
      PopulateDropDown('client_ip_list', data.requests_by_client_ip, params['client_ip']);
    }).catch(console.log);
   */
  }

})();

</script>
</body>
</html>
