<!DOCTYPE html>
<html lang="en">
<head>
<title>Squid Log Viewer</title>
<meta charset=”UTF-8″>
<meta name="description" content="A"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="robots" content="index, follow, archive, noimageindex">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<style>
table	{ width: 100%; border-spacing: 2px; border-collapse: collapse; border: 1px solid black; }
p,th,td	{ font-family: arial; text-align: left; font-size: 10px; border: 1px solid black; padding: 4px; }

*{
    box-sizing: border-box;
    margin: 0;
    font-family: arial;
    font-size: 10px;
}
.wrapper{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding:10px;
    background-color: #cccccc;
}
input {
    width: 15%;
}
fieldset {
    width: 12%;
    display: inline-block;
    box-sizing: border-box;
    font-family: arial;
    font-size: 10px;
}
fieldset input {
    width: 100%;
}
</style>
</head>
<body>
  <!-- Begin Form -->
  <form method="get" action="middle.html" target="middle_iframe">
  <fieldset>
    <legend>Location:</legend>
    <select name="location" id="location" size=1>
      <option value="" selected>All Locations</option>
      {% for v in locations %}
        <option value="{{v}}"{% if v == location %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Server Group:</legend>
    <select name="server_group" id="server_group" size=1>
      <option value=""{% if server_group == "" %} selected{% endif %}>All Server Groups</option>
      {% for v in server_groups %}
        <option value="{{v}}"{% if v == server_group %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Client IP Address:</legend>
    <select name="client_ip" id="client_ip_list" size=1>
      <option value=""{% if client_ip == "" %} selected{% endif %}>All Clients</option>
      {% for v in client_ips %}
        <option value="{{v}}">{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>Response Code:</legend>
    <select name="status_code" id="status_code" size=1>
      <option value=""{% if status_code == "" %} selected{% endif %}>All Status Codes</option>
      {% for v in status_codes %}
        <option value="{{v}}"{% if v == status_code %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <legend>URL:</legend>
    <input type="text" id="url" name="url">
  </fieldset>
  <fieldset>
    <legend>Interval:</legend>
    <select name="interval" id="interval" size=1>
      {% for k, v in intervals.items() %}
        <option value="{{k}}"{% if k == interval %} selected{% endif %}>{{v}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <input type='hidden' name="end_time" id="end_time" value="{{end_time}}">
  <input type="submit" value="Show Data">
  <input type="reset" value="Reset Options">
  </form>
  <!-- End Form -->
<script>

(async() => {

  let url = new URL(window.location.href);

  // If certain drop-downs change, refresh query string & uptime time
  const selector_fields = ['location', 'server_group', 'interval', 'status_code'];
  selector_fields.forEach((selector_field) => {

    const selector = document.getElementById(selector_field);

    selector.onchange = (event) => {

      // Update search parameters if selected option has changed
      if (url.searchParams.has(selector_field)) {
          console.log(`field ${selector_field} has been changed to ${event.target.value}`);
          url.searchParams.set(selector_field, event.target.value);
      } else {
          console.log(`field ${selector_field} has been set to ${event.target.value}`);
          url.searchParams.append(selector_field, event.target.value);
      }

      // Get current date/time & set end_time to this value
      const now = Math.round(Date.now() / 1000);
      url.searchParams.set('end_time', now.toString());

      // Reload the frame with the updated query string
      self.location.search = url.search;

    }
  });
})();

</script>
</body>
</html>
